 .top1{
	height:200px;
	width:100%;
	background-color:#f1f1f1;
	border-bottom:1px solid grey;
	display:flex;
	justify-content:center;
	align-items:center;
	border:7px solid lightgreen;

}
body{
	margin:0;
	
}
p {
	column-count:3;
	font-size:25px;
	padding:80px;
	column-gap:80px;
	column-rule-style:double;
	column-rule-width:4px;
	column-width:100px;
	border:30px solid grey;
	
}
.page{
	display:inline-block;
	
}
.page a{
	color:black;
	float:left;
	text-decoration:none;
	padding:8px 16px;
	transition:background-color 1.5s
}
.page a:hover{
	background-color:dodgerblue;
}
.page a:active{
	color:white;
	background-color:#4CAF50;

}

.abc{
	float:left;
}
.abcd{
		float:right;
}
.text1{

  overflow-y: scroll;
	font-size:25px;
	padding:80px;
	border:30px solid grey;
	background-color:lightblue;
	  border:30px outset coral
 
}
.text2{
 overflow-y: scroll;
	font-size:25px;
	padding:80px;
	border:30px solid grey;
	background-color:lightblue;
	border:10px double green;
}
.text3{
 overflow-y: scroll;
	font-size:25px;
	padding:80px;
	border:30px solid grey;
	background-color:lightblue;
	border:10px solid white;
}
.button1 {
	margin-right:10px;
	border-radius:50%;
	height:80px;
	width:72%;
	background-color:chartreuse;
	font-size:22px
}
.button2{
		margin-right:10px;
	border-radius:50%;
	height:80px;
	width:22%;
	background-color:dodgerblue;
	font-size:22px
}
a{
	text-decoration:none;
	color:black;
}
.tooltip {
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:left;
}

.tooltip h3 {margin:12px 0;}

.tooltip .top {
    min-width:200px;
    max-width:400px;
    top:-20px;
    left:50%;
    transform:translate(-30%,-100%);
    padding:10px 20px;
    color:#ffffff;
    background-color:#009cdc;
    font-weight:normal;
    font-size:14px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

.tooltip:active .top {
    display:block;
}

.tooltip .top i {
    position:absolute;
    top:100%;
    left:30%;
    margin-left:-15px;
    width:30px;
    height:15px;
    overflow:hidden;
}

.tooltip .top i::after {
    content:'';
    position:absolute;
    width:15px;
    height:15px;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color:#009cdc;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
.p1{
 color:#ff0000;
 background:lightblue;
 border:10px double red
}
.h11{
	color:white;
	background:dodgerblue;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 1023.8;
    height: 18.6;
    padding-bottom: 22px;
    padding-top: 0px;

}
#p1{
	border-left:30px double green;
	border:30px double yellow;
}
#p1:hover{
	-webkit-box-shadow: 5px 5px 15px 5px #77FF73, 5px 5px 0px 50px rgba(119,255,115,0.2), 5px 5px 0px 39px rgba(77,236,255,0.2), 5px 5px 0px 27px rgba(255,44,218,0.2), 5px 5px 0px 15px rgba(255,3,3,0.2), inset -1px -4px 0px 24px rgba(179,255,82,0.2), inset -1px -24px 2px 50px rgba(179,255,82,0.38), 50px 50px 2px -30px #B3FF52, -50px 50px 2px -30px #B3FF52, -50px -50px 2px -30px #B3FF52, 50px -50px 2px -30px #B3FF52, 50px -50px 2px -30px #B3FF52; 
box-shadow: 5px 5px 15px 5px #77FF73, 5px 5px 0px 50px rgba(119,255,115,0.2), 5px 5px 0px 39px rgba(77,236,255,0.2), 5px 5px 0px 27px rgba(255,44,218,0.2), 5px 5px 0px 15px rgba(255,3,3,0.2), inset -1px -4px 0px 24px rgba(179,255,82,0.2), inset -1px -24px 2px 50px rgba(179,255,82,0.38), 50px 50px 2px -30px #B3FF52, -50px 50px 2px -30px #B3FF52, -50px -50px 2px -30px #B3FF52, 50px -50px 2px -30px #B3FF52, 50px -50px 2px -30px #B3FF52;

}
.aaa1:hover{
	-webkit-box-shadow: 5px 5px 15px 5px #77FF73, 5px 5px 0px 50px rgba(119,255,115,0.2), 5px 5px 0px 39px rgba(77,236,255,0.2), 5px 5px 0px 27px rgba(255,44,218,0.2), 5px 5px 0px 15px rgba(255,3,3,0.2), inset -1px -4px 0px 24px rgba(179,255,82,0.2), inset -1px -24px 2px 50px rgba(179,255,82,0.38), 50px 50px 2px -30px #B3FF52, -50px 50px 2px -30px #B3FF52, -50px -50px 2px -30px #B3FF52, 50px -50px 2px -30px #B3FF52, 50px -50px 2px -30px #B3FF52; 
box-shadow: 5px 5px 15px 5px #77FF73, 5px 5px 0px 50px rgba(119,255,115,0.2), 5px 5px 0px 39px rgba(77,236,255,0.2), 5px 5px 0px 27px rgba(255,44,218,0.2), 5px 5px 0px 15px rgba(255,3,3,0.2), inset -1px -4px 0px 24px rgba(179,255,82,0.2), inset -1px -24px 2px 50px rgba(179,255,82,0.38), 50px 50px 2px -30px #B3FF52, -50px 50px 2px -30px #B3FF52, -50px -50px 2px -30px #B3FF52, 50px -50px 2px -30px #B3FF52, 50px -50px 2px -30px #B3FF52;
}
button:hover{
	-webkit-box-shadow: 5px 5px 15px 5px #77FF73, 5px 5px 0px 50px rgba(119,255,115,0.2), 5px 5px 0px 39px rgba(77,236,255,0.2), 5px 5px 0px 27px rgba(255,44,218,0.2), 5px 5px 0px 15px rgba(255,3,3,0.2), inset -1px -4px 0px 24px rgba(179,255,82,0.2), inset -1px -24px 2px 50px rgba(179,255,82,0.38), 50px 50px 2px -30px #B3FF52, -50px 50px 2px -30px #B3FF52, -50px -50px 2px -30px #B3FF52, 50px -50px 2px -30px #B3FF52, 50px -50px 2px -30px #B3FF52; 
box-shadow: 5px 5px 15px 5px #77FF73, 5px 5px 0px 50px rgba(119,255,115,0.2), 5px 5px 0px 39px rgba(77,236,255,0.2), 5px 5px 0px 27px rgba(255,44,218,0.2), 5px 5px 0px 15px rgba(255,3,3,0.2), inset -1px -4px 0px 24px rgba(179,255,82,0.2), inset -1px -24px 2px 50px rgba(179,255,82,0.38), 50px 50px 2px -30px #B3FF52, -50px 50px 2px -30px #B3FF52, -50px -50px 2px -30px #B3FF52, 50px -50px 2px -30px #B3FF52, 50px -50px 2px -30px #B3FF52;
}
span {
  outline: 2px dashed rgb(216,255,248);
  box-shadow: 0 0 0 2px rgb(39,144,198);
  background: #fffede;
  padding: .5em 1.3em;
  animation: 1s animateBorder ease infinite;
  box-decoration-break: clone;
}

@keyframes animateBorder{
  to{
    outline-color: rgb(39,144,198);
    box-shadow: 0 0 0 2px rgb(216,255,248);
  }
}


	
	